@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Itim', cursive;
}

body,
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: azure;
}

header {
  width: 100%;
  gap: 0.75rem;
  border-bottom: 1px solid grey;
  padding: 1.5rem 0 1rem 0;
}

header label {
  font-size: 1.25rem;
  text-shadow: 0px 4px 4px rgba(9, 18, 197, 0.25);
}

#search {
  background-color: rgba(9, 18, 197, 0.25);
  outline: none;
  border: none;
  height: 1.9rem;
  width: 35%;
  border-left: 4px solid black;
  border-top: 5px solid black;
  border-radius: 10% 5em;
  text-align: center;
}

#search::placeholder {
  text-align: center;
  font-weight: bold;
}

.btn {
  text-transform: uppercase;
  padding: 0.25rem 1.25rem;
  background-color: rgba(9, 18, 197, 0.25);
  border: none;
  border-right: 2px solid black;
  border-bottom: 3px solid black;
  border-radius: 10% 5em;
  transition: all 0.3s;
  margin: 0.5rem 0;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  font-weight: 700;
  -webkit-box-shadow: 5px 5px 15px -3px rgba(9, 18, 197, 0.25);
  box-shadow: 5px 5px 15px -3px rgba(9, 18, 197, 0.25);
}

.btn:active {
  border: none;
  border-left: 2px solid black;
  border-top: 3px solid black;
  -webkit-box-shadow: 5px 5px 15px -3px rgba(9, 18, 197, 0.25);
  box-shadow: 5px 5px 15px -3px rgba(9, 18, 197, 0.25);
}

.results {
  width: 100vw;
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}
